In [763]:
import pandas as pd
import numpy as np
import json

In [764]:
df_movies = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQvkzhNqBvAGO-t5sYvzU-jIXRxe2M-AyjR6pkJJNkRFD3aDLCtECgSeLvGT1yOMVxfhqvfqVVKIlAb/pub?gid=1782336382&single=true&output=csv')

In [765]:
#df_movies = pd.read_csv(r'E:\sabas\Henry\Proyecto1\Dataset\movies_dataset.csv', low_memory=False)

In [766]:
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [767]:
df_movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

## Limpieza de datos del dataset movies

#### Función para limpiar los registros duplicados

In [768]:
def clean_movie_data(df):
   # Calcular la cantidad de filas duplicadas en el DataFrame
    num_duplicate_rows = df.duplicated().sum()
    print(f"Filas duplicadas antes de la limpieza: {num_duplicate_rows}")
    
   # Mostrar las filas duplicadas con todos sus duplicados
    duplicate_rows_all = df[df.duplicated(keep=False)].sort_values(by="id")
    print("Filas duplicadas con todos sus duplicados:")
    print(duplicate_rows_all)

    #  Eliminar las filas duplicadas, manteniendo la última ocurrencia
    df.drop_duplicates(keep="last", inplace=True)

    #  Calcular la cantidad de valores duplicados en la columna "id"
    num_duplicate_ids = df.id.duplicated().sum()
    print(f"Valores duplicados en la columna 'id' antes de la limpieza: {num_duplicate_ids}")

    #  Mostrar las filas con valores duplicados en la columna "id"
    duplicate_ids_rows = df[df.id.duplicated(keep=False)].sort_values(by="id")
    print("Filas con valores duplicados en la columna 'id':")
    print(duplicate_ids_rows)

    #  Eliminar las filas duplicadas en la columna "id", manteniendo la última ocurrencia
    df.drop_duplicates(subset="id", keep="last", inplace=True)
    
    print("Limpieza de datos completada.")

In [769]:
clean_movie_data(df_movies)

Filas duplicadas antes de la limpieza: 17
Filas duplicadas con todos sus duplicados:
       adult                              belongs_to_collection  budget  \
676    FALSE                                                NaN       0
1465   FALSE                                                NaN       0
14012  FALSE                                                NaN       0
24844  FALSE                                                NaN       0
19890  FALSE                                                NaN       0
21165  FALSE                                                NaN       0
13261  FALSE                                                NaN       0
13375  FALSE                                                NaN       0
16764  FALSE                                                NaN       0
19925  FALSE                                                NaN       0
21854  FALSE                                                NaN       0
13220  FALSE  {'id': 158365, 'name': 'Why We Fight', 'poster...       0
35798  FALSE  {'id': 158365, 'name': 'Why We Fight', 'poster...       0
28860  FALSE                                                NaN       0
13603  FALSE                                                NaN       0
14000  FALSE                                                NaN       0
22151  FALSE                                                NaN       0
8068   FALSE                                                NaN       0
9327   FALSE                                                NaN       0
23044  FALSE                                                NaN       0
17229  FALSE                                                NaN       0
24164  FALSE                                                NaN       0
45265  FALSE                                                NaN       0
33184  FALSE                                                NaN  980000
40040  FALSE                                                NaN  980000
15702  FALSE                                                NaN       0
29374  FALSE                                                NaN       0
9165   FALSE                                                NaN       0
7345   FALSE                                                NaN       0
13946  FALSE                                                NaN       0
40276  FALSE                                                NaN       0
16167  FALSE                                                NaN       0
38871  FALSE                                                NaN       0

                                                  genres  \
676    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
1465   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
14012  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
24844  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
19890  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
21165  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
13261  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...
13375  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...
16764  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...
19925  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
21854  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
13220                [{'id': 99, 'name': 'Documentary'}]
35798                [{'id': 99, 'name': 'Documentary'}]
28860  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
13603  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
14000  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...
22151  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...
8068   [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
9327   [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
23044                      [{'id': 18, 'name': 'Drama'}]
17229                      [{'id': 18, 'name': 'Drama'}]
24164  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45265  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
33184  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
40040  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
15702  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...
29374  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...
9165   [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
7345   [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
13946                     [{'id': 35, 'name': 'Comedy'}]
40276                     [{'id': 35, 'name': 'Comedy'}]
16167  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
38871  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...

                                     homepage      id    imdb_id  \
676                                       NaN  105045  tt0111613
1465                                      NaN  105045  tt0111613
14012            http://www.dealthemovie.com/   11115  tt0446676
24844            http://www.dealthemovie.com/   11115  tt0446676
19890                                     NaN  119916  tt0080000
21165                                     NaN  119916  tt0080000
13261                                     NaN  141971  tt1180333
13375                                     NaN  141971  tt1180333
16764                                     NaN  141971  tt1180333
19925                                     NaN  152795  tt1821641
21854                                     NaN  152795  tt1821641
13220                                     NaN  159849  tt0173769
35798                                     NaN  159849  tt0173769
28860                                     NaN  168538  tt0084387
13603                                     NaN  168538  tt0084387
14000  http://www.daysofdarknessthemovie.com/   18440  tt0499456
22151  http://www.daysofdarknessthemovie.com/   18440  tt0499456
8068                                      NaN   23305  tt0295682
9327                                      NaN   23305  tt0295682
23044                                     NaN   25541  tt1327820
17229                                     NaN   25541  tt1327820
24164                                     NaN  265189  tt2121382
45265                                     NaN  265189  tt2121382
33184                                     NaN  298721  tt2818654
40040                                     NaN  298721  tt2818654
15702                                     NaN   42495  tt0067306
29374                                     NaN   42495  tt0067306
9165                                      NaN    5511  tt0062229
7345                                      NaN    5511  tt0062229
13946                                     NaN   97995  tt0127834
40276                                     NaN   97995  tt0127834
16167                                     NaN   99080  tt0022537
38871                                     NaN   99080  tt0022537

      original_language                    original_title  \
676                  de                   Das Versprechen
1465                 de                   Das Versprechen
14012                en                              Deal
24844                en                              Deal
19890                en                       The Tempest
21165                en                       The Tempest
13261                fi                          Blackout
13375                fi                          Blackout
16764                fi                          Blackout
19925                en                      The Congress
21854                en                      The Congress
13220                en  Why We Fight: Divide and Conquer
35798                en  Why We Fight: Divide and Conquer
28860                en                              Nana
13603                en                              Nana
14000                en                  Days of Darkness
22151                en                  Days of Darkness
8068                 en                       The Warrior
9327                 en                       The Warrior
23044                da                        Broderskab
17229                da                        Broderskab
24164                sv                            Turist
45265                sv                            Turist
33184                th                     รักที่ขอนแก่น
40040                th                     รักที่ขอนแก่น
15702                en                         King Lear
29374                en                         King Lear
9165                 fr                       Le Samouraï
7345                 fr                       Le Samouraï
13946                en              Seven Years Bad Luck
40276                en              Seven Years Bad Luck
16167                en                        The Viking
38871                en                        The Viking

                                                overview  ... release_date  \
676    East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16
1465   East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16
14012  As an ex-gambler teaches a hot-shot college ki...  ...   2008-01-29
24844  As an ex-gambler teaches a hot-shot college ki...  ...   2008-01-29
19890  Prospero, the true Duke of Milan is now living...  ...   1980-02-27
21165  Prospero, the true Duke of Milan is now living...  ...   1980-02-27
13261  Recovering from a nail gun shot to the head an...  ...   2008-12-26
13375  Recovering from a nail gun shot to the head an...  ...   2008-12-26
16764  Recovering from a nail gun shot to the head an...  ...   2008-12-26
19925  More than two decades after catapulting to sta...  ...   2013-05-16
21854  More than two decades after catapulting to sta...  ...   2013-05-16
13220  The third film of Frank Capra's 'Why We Fight"...  ...   1943-01-01
35798  The third film of Frank Capra's 'Why We Fight"...  ...   1943-01-01
28860  In Zola's Paris, an ingenue arrives at a tony ...  ...   1983-06-13
13603  In Zola's Paris, an ingenue arrives at a tony ...  ...   1983-06-13
14000  When a comet strikes Earth and kicks up a clou...  ...   2007-01-01
22151  When a comet strikes Earth and kicks up a clou...  ...   2007-01-01
8068   In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23
9327   In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23
23044  Former Danish servicemen Lars and Jimmy are th...  ...   2009-10-21
17229  Former Danish servicemen Lars and Jimmy are th...  ...   2009-10-21
24164  While holidaying in the French Alps, a Swedish...  ...   2014-08-15
45265  While holidaying in the French Alps, a Swedish...  ...   2014-08-15
33184  In a hospital, ten soldiers are being treated ...  ...   2015-09-02
40040  In a hospital, ten soldiers are being treated ...  ...   2015-09-02
15702  King Lear, old and tired, divides his kingdom ...  ...   1971-02-04
29374  King Lear, old and tired, divides his kingdom ...  ...   1971-02-04
9165   Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25
7345   Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25
13946  After breaking a mirror in his home, superstit...  ...   1921-02-06
40276  After breaking a mirror in his home, superstit...  ...   1921-02-06
16167  Originally called White Thunder, American prod...  ...   1931-06-21
38871  Originally called White Thunder, American prod...  ...   1931-06-21

         revenue runtime                                   spoken_languages  \
676          0.0   115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
1465         0.0   115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]
14012        0.0    85.0           [{'iso_639_1': 'en', 'name': 'English'}]
24844        0.0    85.0           [{'iso_639_1': 'en', 'name': 'English'}]
19890        0.0   123.0                                                 []
21165        0.0   123.0                                                 []
13261        0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]
13375        0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]
16764        0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]
19925   455815.0   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
21854   455815.0   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
13220        0.0    57.0           [{'iso_639_1': 'en', 'name': 'English'}]
35798        0.0    57.0           [{'iso_639_1': 'en', 'name': 'English'}]
28860        0.0    92.0                                                 []
13603        0.0    92.0                                                 []
14000        0.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
22151        0.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
8068         0.0    86.0            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]
9327         0.0    86.0            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]
23044        0.0    90.0             [{'iso_639_1': 'da', 'name': 'Dansk'}]
17229        0.0    90.0             [{'iso_639_1': 'da', 'name': 'Dansk'}]
24164  1359497.0   118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
45265  1359497.0   118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
33184        0.0   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
40040        0.0   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15702        0.0   137.0           [{'iso_639_1': 'en', 'name': 'English'}]
29374        0.0   137.0           [{'iso_639_1': 'en', 'name': 'English'}]
9165     39481.0   105.0          [{'iso_639_1': 'fr', 'name': 'Français'}]
7345     39481.0   105.0          [{'iso_639_1': 'fr', 'name': 'Français'}]
13946        0.0    62.0           [{'iso_639_1': 'en', 'name': 'English'}]
40276        0.0    62.0           [{'iso_639_1': 'en', 'name': 'English'}]
16167        0.0    70.0           [{'iso_639_1': 'en', 'name': 'English'}]
38871        0.0    70.0           [{'iso_639_1': 'en', 'name': 'English'}]

         status                                            tagline  \
676    Released                            A love, a hope, a wall.
1465   Released                            A love, a hope, a wall.
14012  Released                                                NaN
24844  Released                                                NaN
19890  Released                                                NaN
21165  Released                                                NaN
13261  Released  Which one is the first to return - memory or t...
13375  Released  Which one is the first to return - memory or t...
16764  Released  Which one is the first to return - memory or t...
19925  Released                                                NaN
21854  Released                                                NaN
13220  Released                                                NaN
35798  Released                                                NaN
28860  Released                                                NaN
13603  Released                                                NaN
14000  Released                                                NaN
22151  Released                                                NaN
8068   Released                                                NaN
9327   Released                                                NaN
23044  Released                                                NaN
17229  Released                                                NaN
24164  Released                                                NaN
45265  Released                                                NaN
33184  Released                                                NaN
40040  Released                                                NaN
15702   Rumored                                                NaN
29374   Rumored                                                NaN
9165   Released  There is no solitude greater than that of the ...
7345   Released  There is no solitude greater than that of the ...
13946  Released                                                NaN
40276  Released                                                NaN
16167  Released  Actually produced during the Great Newfoundlan...
38871  Released  Actually produced during the Great Newfoundlan...

                                  title  video vote_average vote_count
676                         The Promise  False          5.0        1.0
1465                        The Promise  False          5.0        1.0
14012                              Deal  False          5.2       22.0
24844                              Deal  False          5.2       22.0
19890                       The Tempest  False          0.0        0.0
21165                       The Tempest  False          0.0        0.0
13261                          Blackout  False          6.7        3.0
13375                          Blackout  False          6.7        3.0
16764                          Blackout  False          6.7        3.0
19925                      The Congress  False          6.4      165.0
21854                      The Congress  False          6.4      165.0
13220  Why We Fight: Divide and Conquer  False          5.0        1.0
35798  Why We Fight: Divide and Conquer  False          5.0        1.0
28860    Nana, the True Key of Pleasure  False          4.7        3.0
13603    Nana, the True Key of Pleasure  False          4.7        3.0
14000                  Days of Darkness  False          5.0        5.0
22151                  Days of Darkness  False          5.0        5.0
8068                        The Warrior  False          6.3       15.0
9327                        The Warrior  False          6.3       15.0
23044                       Brotherhood  False          7.1       21.0
17229                       Brotherhood  False          7.1       21.0
24164                     Force Majeure  False          6.8      255.0
45265                     Force Majeure  False          6.8      255.0
33184             Cemetery of Splendour  False          4.4       50.0
40040             Cemetery of Splendour  False          4.4       50.0
15702                         King Lear  False          8.0        3.0
29374                         King Lear  False          8.0        3.0
9165                        Le Samouraï  False          7.9      187.0
7345                        Le Samouraï  False          7.9      187.0
13946              Seven Years Bad Luck  False          5.6        4.0
40276              Seven Years Bad Luck  False          5.6        4.0
16167                        The Viking  False          0.0        0.0
38871                        The Viking  False          0.0        0.0

[33 rows x 24 columns]
Valores duplicados en la columna 'id' antes de la limpieza: 13
Filas con valores duplicados en la columna 'id':
       adult                              belongs_to_collection    budget  \
4114   FALSE  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000
44821  FALSE  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000
20899  FALSE                                                NaN         0
5710   FALSE                                                NaN         0
23534  FALSE                                                NaN   3512454
4356   FALSE                                                NaN   3512454
44826  FALSE  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0
5535   FALSE  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0
15765  FALSE                                                NaN      2500
11342  FALSE                                                NaN      2500
30001  FALSE                                                NaN         0
838    FALSE                                                NaN         0
10419  FALSE                                                NaN   1600000
12066  FALSE                                                NaN   1600000
5130   FALSE                                                NaN  26000000
33743  FALSE                                                NaN  26000000
15074  FALSE                                                NaN         4

In [770]:
df_movies.dtypes # Verificar el tipo de datos en cada columna

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

#### Función para reorganizar los datos incorrectos del dataframe

In [771]:
def reorganize_incorrect_values(df, column_name): # Función de reorganizacion de valores incorrectos
    incorrect_values = df[pd.to_numeric(df[column_name], errors='coerce').isna()]
    for n, i in enumerate(incorrect_values.index):
        print(f"Procesando fila {i}, iteración {n}")
        row = df.loc[i]  # guarda los datos del registro incorrecto
        row2 = row.tolist()  # los pasa a una lista
        df.loc[i] = row2[15:] + row2[:15]  # reordena los datos y los asigna nuevamente en el df original
    print("Reorganización de valores incorrectos completada.")

In [772]:
reorganize_incorrect_values(df_movies, 'budget')

Procesando fila 19730, iteración 0
Procesando fila 29503, iteración 1
Procesando fila 35587, iteración 2
Reorganización de valores incorrectos completada.

In [773]:
df_movies.loc[19730]

adult                                                                  NaN
belongs_to_collection                                                  NaN
budget                                                                 NaN
genres                                                                 NaN
homepage                                                               NaN
id                                                                     NaN
imdb_id                                                                NaN
original_language                                                      NaN
original_title                                                         NaN
overview                                                - Written by Ørnås
popularity                                                          65.736
poster_path                               /ff9qCepilowshEtG2GYWwzt2bs4.jpg
production_companies     [{'name': 'Carousel Productions', 'id': 11176}...
production_countries     [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
release_date                                                    1997-08-20
revenue                                                                  0
runtime                                                              104.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                         Midnight Man
video                                                                FALSE
vote_average                                                           6.0
vote_count                                                               1
Name: 19730, dtype: object

In [774]:
df_movies.dtypes

adult                    object
belongs_to_collection    object
budget                   object
genres                   object
homepage                 object
id                       object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity               object
poster_path              object
production_companies     object
production_countries     object
release_date             object
revenue                  object
runtime                  object
spoken_languages         object
status                   object
tagline                  object
title                    object
video                    object
vote_average             object
vote_count               object
dtype: object

#### Función para convertir columnas al tipo de dato correcto

In [775]:
def convert_column_data_types(dataframe, column_types):
    for column_name, new_data_type in column_types.items():
        if column_name in dataframe.columns:
            dataframe[column_name] = dataframe[column_name].astype(new_data_type)
    return dataframe

column_data_types = {
    'id':str,
    'budget': float,
    'revenue': float,
    'runtime': float,
    'vote_average': float,
    'vote_count': float,
    'release_date': 'datetime64[ns]',  # Convert to datetime
}

df_movies = convert_column_data_types(df_movies, column_data_types)
print(df_movies.dtypes)
print(df_movies['release_date'].head())

adult                            object
belongs_to_collection            object
budget                          float64
genres                           object
homepage                         object
id                               object
imdb_id                          object
original_language                object
original_title                   object
overview                         object
popularity                       object
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
video                            object
vote_average                    float64
vote_count                      float64
dtype: object
0   1995-10-30
1   1995-12-15
2   1995-12-22
3   1995-12-22
4   1995-02-10
Name: release_date, dtype: datetime64[ns]

### Eliminacion de nulos en revenue, budget y datos faltantes release_date

In [776]:
df_movies.isna().sum() # primero revisamos los faltantes

adult                        3
belongs_to_collection    40948
budget                       3
genres                       3
homepage                 37662
id                           0
imdb_id                     20
original_language           14
original_title               3
overview                   959
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25035
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

##### Sustituimos por cero los nulos en revenue

In [777]:
df_movies.revenue.fillna(value = 0, inplace=True)

##### Eliminamos los registros que no tienen fecha en release_datez

In [778]:
df_movies.dropna(axis=0, subset="release_date", inplace=True)

##### Eliminamos los registros que no tienen id

In [779]:
df_movies.dropna(axis=0, subset="id", inplace=True)

##### Verificamos los cambios

In [780]:
df_movies.isna().sum()

adult                        3
belongs_to_collection    40864
budget                       3
genres                       3
homepage                 37588
id                           0
imdb_id                     17
original_language           14
original_title               3
overview                   946
popularity                   0
poster_path                339
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24962
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

## Desanidar datos

In [781]:
def parse_and_unnest(dataframe, columna):
    def format_data(data):
        if pd.isna(data):
            return None
        else:
            try:
                return json.loads(data.replace("'", '"'))
            except:
                return None
    
    # Aplica la función de formateo y guardar en una nueva columna
    new_column_name = f'{columna}_parsed'
    dataframe[new_column_name] = dataframe[columna].apply(format_data)
    
    # Utilizar pd.json_normalize() para desanidar los datos y crear un nuevo DataFrame
    df_desanidado = pd.json_normalize(dataframe[new_column_name])
    
    # Agregar un prefijo a las columnas para diferenciarlas en el join
    df_desanidado = df_desanidado.add_prefix(f'{columna}_')
    
    # Combinar el nuevo DataFrame desanidado con el DataFrame original utilizando el método join()
    dataframe = dataframe.join(df_desanidado, rsuffix=f'_{columna}')
    
    return dataframe

#### Desanidado de belongs_to_collection

In [782]:
df_movies = pd.DataFrame(df_movies)
df_movies = parse_and_unnest(df_movies, 'belongs_to_collection')

In [783]:
df_movies.shape

(45349, 29)

In [784]:
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,belongs_to_collection_parsed,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"{'id': 10194, 'name': 'Toy Story Collection', ...",10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [785]:
df_movies['belongs_to_collection']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45460                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45349, dtype: object

#### Eliminamos las columnas que no vamos a utilizar de la columna 'belongs_to_collection'

In [786]:
columns_to_drop = ["belongs_to_collection_parsed", "belongs_to_collection_poster_path", "belongs_to_collection_backdrop_path"]
df_movies.drop(labels=columns_to_drop, axis=1, inplace=True)

In [787]:
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection

#### Desanidado de 'production_companies'

In [788]:
def extract_names_from_column(languages):
    if pd.isnull(languages):
        return pd.NA
    try:
        languages_list = eval(languages)
        language_names = [lang['name'] for lang in languages_list]
        return ", ".join(language_names)
    except (ValueError, TypeError):
        return pd.NA

In [789]:
df_movies['production_companies'] = df_movies['production_companies'].apply(extract_names_from_column)

### Hacemos lo mismo con production countries, spoken lenguages y genres

#### Columna production_countries

In [790]:
df_movies['production_countries'] = df_movies['production_countries'].apply(extract_names_from_column)

#### Columna spoken_languages

In [791]:
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(extract_names_from_column)

#### Columna Genres

In [792]:
df_movies['genres'] = df_movies['genres'].apply(extract_names_from_column)

In [793]:
df_movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection
1,FALSE,NaN,65000000.0,"Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"Romance, Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection

#    Eliminacion de columnas 
###   video, imdb_id, adult, original, title, poster_path, homepage

In [794]:
df_movies.shape # verificadmos la cantidad de columnas antes del drop

(45349, 26)

In [795]:
df_movies.drop(labels=["video","imdb_id","adult","original_title","poster_path", "homepage"], inplace=True, axis=1)

In [796]:
df_movies.shape # verificadmos que el cambio se haya realizado

(45349, 20)

# Antes de finalizar verificamos nuevamente los tipos de datos

In [797]:
df_movies.dtypes

belongs_to_collection                 object
budget                               float64
genres                                object
id                                    object
original_language                     object
overview                              object
popularity                            object
production_companies                  object
production_countries                  object
release_date                  datetime64[ns]
revenue                              float64
runtime                              float64
spoken_languages                      object
status                                object
tagline                               object
title                                 object
vote_average                         float64
vote_count                           float64
belongs_to_collection_id             float64
belongs_to_collection_name            object
dtype: object

### Si existe algun cambio llamamos de nuevo a la funcion para arreglar el tipo de datos

df_movies = convert_column_data_types(df_movies, column_data_types)# funcion para cambiar el tipo de datos de las columnas que necesitamos
print(df_movies.dtypes)

In [798]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45349 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   belongs_to_collection       4485 non-null   object
 1   budget                      45346 non-null  float64
 2   genres                      45346 non-null  object
 3   id                          45349 non-null  object
 4   original_language           45335 non-null  object
 5   overview                    44403 non-null  object
 6   popularity                  45349 non-null  object
 7   production_companies        45349 non-null  object
 8   production_countries        45349 non-null  object
 9   release_date                45349 non-null  datetime64[ns]
 10  revenue                     45349 non-null  float64
 11  runtime                     45103 non-null  float64
 12  spoken_languages            45349 non-null  object
 13  status                      45269 non-null  object
 14  tagline                     20387 non-null  object
 15  title                       45349 non-null  object
 16  vote_average                45349 non-null  float64
 17  vote_count                  45349 non-null  float64
 18  belongs_to_collection_id    3157 non-null   float64
 19  belongs_to_collection_name  3157 non-null   object
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 8.3+ MB

### Nuevas columnas (return, release_year)

#### Funcion para agregar la columna return

In [799]:
def add_return_column(dataframe, revenue_column_name, budget_column_name):
    dataframe['return'] = dataframe[revenue_column_name] / dataframe[budget_column_name]
    dataframe.loc[dataframe[revenue_column_name] == 0, 'return'] = 0
    return dataframe

In [800]:
#df_movies = pd.DataFrame(df_movies)
df_movies = add_return_column(df_movies, 'revenue', 'budget')

In [801]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946.943,Pixar Animation Studios,United States of America,1995-10-30,...,81.0,English,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,12.451801

#### Funcion para agregar la columna release_year

In [802]:
def add_release_year_column(dataframe, date_column_name, new_column_name):
    dataframe = dataframe.dropna(subset=[date_column_name])
    dataframe[new_column_name] = dataframe[date_column_name].dt.year
    return dataframe

In [803]:
df_movies = add_release_year_column(df_movies, 'release_date', 'release_year')

In [804]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,return,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946.943,Pixar Animation Studios,United States of America,1995-10-30,...,English,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,12.451801,1995

## Limpieza de datos del dataset credits

In [805]:
df_credits = pd.read_csv(r'E:\sabas\Henry\Proyecto1\Dataset\credits.csv', low_memory=False)

In [806]:
df_credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [807]:
df_credits.duplicated().sum()

37

In [808]:
clean_movie_data(df_credits) #llama la funcion para limpieza de datos duplicados usada para el otro dataset

Filas duplicadas antes de la limpieza: 37
Filas duplicadas con todos sus duplicados:
                                                    cast  \
25950  [{'cast_id': 12, 'character': 'The Creature', ...
25885  [{'cast_id': 12, 'character': 'The Creature', ...
9165   [{'cast_id': 11, 'character': 'Jef Costello', ...
7345   [{'cast_id': 11, 'character': 'Jef Costello', ...
25895  [{'cast_id': 11, 'character': 'Mike Gaucher / ...
...                                                  ...
25897                                                 []
25954  [{'cast_id': 7, 'character': 'Hollander', 'cre...
25887  [{'cast_id': 7, 'character': 'Hollander', 'cre...
24163  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...
45275  [{'cast_id': 2, 'character': 'Ebba', 'credit_i...

                                                    crew      id
25950  [{'credit_id': '52fe4380c3a36847f80590dd', 'de...    3057
25885  [{'credit_id': '52fe4380c3a36847f80590dd', 'de...    3057
9165   [{'credit_id': '52fe440ac3a36847f807ee01', 'de...    5511
7345   [{'credit_id': '52fe440ac3a36847f807ee01', 'de...    5511
25895  [{'credit_id': '52fe44b8c3a36847f80a6389', 'de...    8767
...                                                  ...     ...
25897  [{'credit_id': '52fe4d119251416c7512ed39', 'de...  187156
25954  [{'credit_id': '52fe4da29251416c9111ce5d', 'de...  199591
25887  [{'credit_id': '52fe4da29251416c9111ce5d', 'de...  199591
24163  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...  265189
45275  [{'credit_id': '534fd1a80e0a267eb6000e32', 'de...  265189

[73 rows x 3 columns]
Valores duplicados en la columna 'id' antes de la limpieza: 7
Filas con valores duplicados en la columna 'id':
                                                    cast  \
5865   [{'cast_id': 15, 'character': 'Chuck Barris', ...
33838  [{'cast_id': 15, 'character': 'Chuck Barris', ...
9576   [{'cast_id': 1, 'character': 'Gerard Carriere'...
26638  [{'cast_id': 1, 'character': 'Gerard Carriere'...
16167  [{'cast_id': 1004, 'character': 'Luke Oarum', ...
38882  [{'cast_id': 1004, 'character': 'Luke Oarum', ...
4356   [{'cast_id': 3, 'character': 'Camille Claudel'...
23533  [{'cast_id': 3, 'character': 'Camille Claudel'...
838    [{'cast_id': 4, 'character': 'Mihoko Nakagawa'...
30013  [{'cast_id': 4, 'character': 'Mihoko Nakagawa'...
13220  [{'cast_id': 12, 'character': 'Narrator', 'cre...
35809  [{'cast_id': 12, 'character': 'Narrator', 'cre...
33196  [{'cast_id': 1, 'character': 'Jenjira', 'credi...
40051  [{'cast_id': 1, 'character': 'Jenjira', 'credi...

                                                    crew      id
5865   [{'credit_id': '52fe43e2c3a36847f80760b5', 'de...    4912
33838  [{'credit_id': '52fe43e2c3a36847f80760a9', 'de...    4912
9576   [{'credit_id': '5468acec22136e68c9000d53', 'de...   69234
26638  [{'credit_id': '52fe47bfc3a368484e0d77bf', 'de...   69234
16167  [{'credit_id': '52fe4a269251416c750df623', 'de...   99080
38882  [{'credit_id': '52fe4a269251416c750df61d', 'de...   99080
4356   [{'credit_id': '52fe4ad6c3a36847f81e461b', 'de...  110428
23533  [{'credit_id': '577ed5389251416976004432', 'de...  110428
838    [{'credit_id': '52fe4b9ac3a368484e190d25', 'de...  132641
30013  [{'credit_id': '56365ed9925141285701b06e', 'de...  132641
13220  [{'credit_id': '52fe4c229251416c910f10d5', 'de...  159849
35809  [{'credit_id': '52fe4c229251416c910f10d5', 'de...  159849
33196  [{'credit_id': '5448c8efc3a3680fb4001582', 'de...  298721
40051  [{'credit_id': '5739ceeac3a3683c9d000c12', 'de...  298721
Limpieza de datos completada.

In [809]:
#si bien no existe valores faltantes, se revisan si existen valores repetidos
grupos = df_credits.groupby(by="crew").size()
grupos[grupos > 1].sort_values(ascending=False)

crew
[]    771
dtype: int64

In [810]:
import ast #usamos la libreria de sintaxis de arboles abstracta para extraer los datos string del diccionario

# función para extraer el nombre del director de la columna "crew"
def get_director_from_crew(crew):
    crew_list = ast.literal_eval(crew) if pd.notna(crew) else []
    for person in crew_list:
        if person.get('job') == 'Director':
            return person.get('name')
    return None

In [811]:
df_credits['director'] = df_credits['crew'].apply(get_director_from_crew)
print(df_credits)

                                                    cast  \
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
45472  [{'cast_id': 1002, 'character': 'Sister Angela...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
45475                                                 []

                                                    crew      id  \
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...                                                  ...     ...
45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

               director
0         John Lasseter
1          Joe Johnston
2         Howard Deutch
3       Forest Whitaker
4         Charles Shyer
...                 ...
45471  Hamid Nematollah
45472          Lav Diaz
45473    Mark L. Lester
45474  Yakov Protazanov
45475     Daisy Asquith

[45432 rows x 4 columns]

In [812]:
#se revisan si existen valores repetidos
grupos = df_credits.groupby(by="crew").size()
grupos[grupos > 1].sort_values(ascending=False)

crew
[]    771
dtype: int64

In [813]:
def get_actors_from_cast(cast):
    cast_list = ast.literal_eval(cast) if pd.notna(cast) else []
    return [person.get('name') for person in cast_list] or None

df_credits['actors'] = df_credits['cast'].apply(get_actors_from_cast)
print(df_credits)

                                                    cast  \
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
45472  [{'cast_id': 1002, 'character': 'Sister Angela...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
45475                                                 []

                                                    crew      id  \
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...                                                  ...     ...
45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

               director                                             actors
0         John Lasseter  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1          Joe Johnston  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2         Howard Deutch  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3       Forest Whitaker  [Whitney Houston, Angela Bassett, Loretta Devi...
4         Charles Shyer  [Steve Martin, Diane Keaton, Martin Short, Kim...
...                 ...                                                ...
45471  Hamid Nematollah        [Leila Hatami, Kourosh Tahami, Elham Korda]
45472          Lav Diaz  [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
45473    Mark L. Lester  [Erika Eleniak, Adam Baldwin, Julie du Page, J...
45474  Yakov Protazanov  [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
45475     Daisy Asquith                                               None

[45432 rows x 5 columns]

### Hacemos merge de los df para tener uno solo con toda la informacion

In [814]:
### Verificamos, cantidad de filas y columnas de los Df

In [815]:
df_movies.shape

(45349, 22)

In [816]:
df_credits.shape

(45432, 5)

### Para hacer el merge utilizamos la columna id verificamos que esta en los 2 df

In [817]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45349 entries, 0 to 45465
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   belongs_to_collection       4485 non-null   object
 1   budget                      45346 non-null  float64
 2   genres                      45346 non-null  object
 3   id                          45349 non-null  object
 4   original_language           45335 non-null  object
 5   overview                    44403 non-null  object
 6   popularity                  45349 non-null  object
 7   production_companies        45349 non-null  object
 8   production_countries        45349 non-null  object
 9   release_date                45349 non-null  datetime64[ns]
 10  revenue                     45349 non-null  float64
 11  runtime                     45103 non-null  float64
 12  spoken_languages            45349 non-null  object
 13  status                      45269 non-null  object
 14  tagline                     20387 non-null  object
 15  title                       45349 non-null  object
 16  vote_average                45349 non-null  float64
 17  vote_count                  45349 non-null  float64
 18  belongs_to_collection_id    3157 non-null   float64
 19  belongs_to_collection_name  3157 non-null   object
 20  return                      45349 non-null  float64
 21  release_year                45349 non-null  int32
dtypes: datetime64[ns](1), float64(7), int32(1), object(13)
memory usage: 8.8+ MB

In [818]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45432 non-null  object
 1   crew      45432 non-null  object
 2   id        45432 non-null  int64
 3   director  44545 non-null  object
 4   actors    43018 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [819]:
df_movies['id'].isna().sum()

0

In [820]:
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce').astype('Int64')

In [821]:
df_movies.dtypes

belongs_to_collection                 object
budget                               float64
genres                                object
id                                     Int64
original_language                     object
overview                              object
popularity                            object
production_companies                  object
production_countries                  object
release_date                  datetime64[ns]
revenue                              float64
runtime                              float64
spoken_languages                      object
status                                object
tagline                               object
title                                 object
vote_average                         float64
vote_count                           float64
belongs_to_collection_id             float64
belongs_to_collection_name            object
return                               float64
release_year                           int32
dtype: object

In [822]:
df_movies_int = pd.merge(left=df_movies, right=df_credits, left_on="id", right_on="id", how="inner")

In [823]:
df_movies_int .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   belongs_to_collection       4485 non-null   object
 1   budget                      45345 non-null  float64
 2   genres                      45345 non-null  object
 3   id                          45345 non-null  Int64
 4   original_language           45334 non-null  object
 5   overview                    44399 non-null  object
 6   popularity                  45345 non-null  object
 7   production_companies        45345 non-null  object
 8   production_countries        45345 non-null  object
 9   release_date                45345 non-null  datetime64[ns]
 10  revenue                     45345 non-null  float64
 11  runtime                     45099 non-null  float64
 12  spoken_languages            45345 non-null  object
 13  status                      45265 non-null  object
 14  tagline                     20386 non-null  object
 15  title                       45345 non-null  object
 16  vote_average                45345 non-null  float64
 17  vote_count                  45345 non-null  float64
 18  belongs_to_collection_id    3156 non-null   float64
 19  belongs_to_collection_name  3156 non-null   object
 20  return                      45345 non-null  float64
 21  release_year                45345 non-null  int32
 22  cast                        45345 non-null  object
 23  crew                        45345 non-null  object
 24  director                    44510 non-null  object
 25  actors                      42997 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(7), int32(1), object(16)
memory usage: 8.9+ MB

### Guardamos el data frame modificado en un archivo csv

In [825]:
df_movies_int.to_csv('E:\sabas\Henry\Proyecto1\df_movies_int.csv', sep = ',' , index=False)

In [826]:
df_movies.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,return,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946.943,Pixar Animation Studios,United States of America,1995-10-30,...,English,Released,NaN,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,12.451801,1995

### creamos un dataset con menos registros para poder correr los modelos

In [831]:
def remove_null_or_zero_rows(dataframe):
    # Filtrar los registros con budget, revenue y popularity nulos o igual a 0
    filtered_df = dataframe[(dataframe['budget'].notnull()) & (dataframe['budget'] != 0)]
    
    return filtered_df

In [832]:
filtered_df = remove_null_or_zero_rows(df_movies)

In [835]:
filtered_df.to_csv('E:\sabas\Henry\Proyecto1\df_movies_filtered.csv', sep = ',' , index=False)

### Dividimos el dataframe en archivos mas pequeños con los datos que necesita cada funcion

In [828]:
def create_custom_dataframes(columns, filepath):
    usecols = ['id', 'title'] + columns
    df = pd.read_csv(filepath, sep=',', header=0, usecols=usecols)
    if 'director' in columns:
        df = df.loc[-df['director'].isna()]
    return df


idiomas_pel = ['spoken_languages']
dura_pel = ['runtime','release_year']
franquicia = ['belongs_to_collection_name','revenue','budget']
pais = ['production_countries']
produc_exit = ['production_companies','revenue']
director = ['director','release_year','return','budget','revenue']
recomenda = ['director','title','belongs_to_collection_name','genres','popularity']

df_idiomas_pel = create_custom_dataframes(idiomas_pel, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_dura_pel = create_custom_dataframes(dura_pel, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_franquicia = create_custom_dataframes(franquicia, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_pais = create_custom_dataframes(pais, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_produc_exit = create_custom_dataframes(produc_exit, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_director = create_custom_dataframes(director, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')
df_recomenda = create_custom_dataframes(recomenda, 'E:/sabas/Henry/Proyecto1/dataset/df_movies_int.csv')

#### Guardamos los archivos csv

In [829]:
df_idiomas_pel.to_csv('E:/sabas/Henry/Proyecto1/dataset_idiomas_pel.csv', sep = ',' , index=False)
df_dura_pel.to_csv('E:/sabas/Henry/Proyecto1/dataset_dura_pel.csv', sep = ',' , index=False)
df_franquicia.to_csv('E:/sabas/Henry/Proyecto1/dataset_franquicia.csv', sep = ',' , index=False)
df_pais.to_csv('E:/sabas/Henry/Proyecto1/dataset_pais.csv', sep = ',' , index=False)
df_produc_exit.to_csv('E:/sabas/Henry/Proyecto1/dataset_produc_exit.csv', sep = ',' , index=False)
df_director.to_csv('E:/sabas/Henry/Proyecto1/dataset_director.csv', sep = ',' , index=False)
df_recomenda.to_csv('E:/sabas/Henry/Proyecto1/dataset_recomenda.csv', sep = ',' , index=False)